
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?q=80&w=2000');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: #333;
}

.dark-mode {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), 
                url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?q=80&w=2000') !important;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

header {
    margin-bottom: 30px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 13px;
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0056b3;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.book-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: left;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 15px;
}

.book-card h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #111;
    height: 50px;
    overflow: hidden;
}

.book-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.hidden {
    display: none;
}

#loading {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}


body {
    background-color: white;
    color: black;
    transition: background 0.3s ease; 
}


.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

.dark-mode .book-card {
    background-color: #333;
    border: 1px solid #444;
}


.view-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #940f0f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.view-btn:hover {
    background-color: #771824;
}